Due Mar 13
Project: Laying it All Out

Joshua Law
7:43 AM

Laying It All Out
Google Docs

index.html
HTML

style.css
Style Sheet
Your work
Assigned
Files you add or create can be viewed and edited by your teacher
Mark as done or attach work to turn in

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.layout-1{
    background-color: #e3e3e3;
    margin:20px;
    
}

.layout-2{
    background-color: #e3e3e3;

}

.layout-3{
    background-color: #e3e3e3;

}

.layout-1 #topHeader{
    background-color:red;
    height:50px;
    text-align: center;
    font-size:20px;
}

.layout-1 nav{
    background-color:blue;
    height:20px;
    text-align: center;

}

.layout-1 section{
    background-color:green;
}

.layout-1 #sectionHeader{
    background-color:yellow;
    float:left;
    width:70%;
    height:35px;
 }

.layout-1 article{
    background-color:orange;
    float:left;
    width:70%;
    height:100px;
    font-size:13px;
}
.layout-1 aside{
    background-color:purple;
    height:100px;
}

.layout-1 aside a{
    background-color:white;
    width:30%;
    display: inline-block;
    text-align: center;
    height:10px;
    font-size:10px;

}


.layout-1 footer{
    height:65px;

}

#topHeader2{
    background-color:red;
    height:50px;
    text-align:center;
    font-size:20px;

}
.layout-2 nav{
    background-color:blue;
    float:left;
    height:100px;

}

.layout-2 nav a{
    background-color:white;
}

#content{
    background-color:green;
}

.article2{
    background-color:yellow;
    height:30px;
}

.aside-content{
    background-color:purple;
    height:20px;
    float:left;

}

.aside-info{
    background-color:aqua;
}

.layout-2 img{
    background-color: aqua;
}

.layout-2 footer{
    background-color:rgb(219, 203, 203);
    text-align:center;
}

.layout-3 header{
    background-color:red;
    height:50px;
    text-align:center;
}

#sectionHeader3{
    background-color:blue;
    text-align:center;
}

.layout-3 nav{
    background-color:yellow;
    float:left;
    width:10%;
    height:10px;
    font-size:10px;
}

.layout-3 section{
    background-color:orange;
    float:left;
    height:110px;
    width:70%;
    font-size:10px;
}

.layout-3 aside{
    background-color:purple;
    float:left;
    height:10px;
    width:20%;
    font-size:10px;
}

#pageFooter{
    background-color:green;
    height:15px;
    font-size:10px;
    text-align:center;
    clear:both;
}


